/*********** ADMIN **********/

.dashboard-layout{
    display:flex;
    flex-wrap: wrap;
    background-color: #23282D;
}
.top-content{
    /*height: 7.5vh;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:#9EA3A8;
}
.top-content a{
    color:#9EA3A8;
}

aside{
    width:10%;
    height: 80vh;
    background-color: #23282D;
}
.content-container{
    width: 90%;
    background-color: #ffffff;
}

.content-container a{
    color:var(--purple);
}

.table-users{
    background-color:#ffffff;
}

.list-group-item{
    background-color: #23282D;
    color:#9EA3A8;
    border: none;
    border-radius: 0rem!important;
}
.list-group-item:hover{
    background-color: #ffffff;
    font-weight: bold;
}
.show-users-select select{
    padding: 5px 10px;
    background-color: #ffffff;
    border:1px solid var(--black);
    border-radius: 0.3rem;
}
.search-users{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.search-users form{
}
.search-users input{
    padding: 5px 10px;
    background-color: #ffffff;
    border:1px solid var(--black);
    border-radius: 0.3rem;
}
.user-tab-icon{
    padding: 0 4px;
}

.previous-and-next{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    align-items: center;
}

.page-number{
    border:1px solid black;
    padding: 5px 15px;
    margin: 0;
    width: 100%;
    text-align: center;
}
.show-entries p{
    font-size: 1.4rem;
}
.show-entries-form{
    width: 20%;
    margin:0 ;
    padding: 0;
}

/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    aside{
        width:10%;
        background-color: #23282D;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
