body{
    background-color: #F8F8F8;
}
.global-container{
    background-color: #F8F8F8;
    padding-bottom: 3rem;
}
.my-infos, .my-tests{
    border-radius: 2rem;
    background-color:#ffffff;
    padding: 20px;
}

.information-drop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information-drop i{
    background-color: var(--purple);
    color: #ffffff;
    border-radius: 50%;
    font-size: 1rem;
    padding: 10px;
}
.information-drop-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-none{
    height: 0;
    overflow: hidden;
    opacity: 0;
}
.height-yes{
    height: auto;
    opacity: 1;
    margin-top: 25px;
}

.disabled-element-eye{
    transition: height 0s ease-in-out, opacity 0.5s ease-in-out, margin-top 0.5s ease;
}
.main-profile-div h2{
    color:var(--purple);
    font-size: 1.6rem;
}

.fa-eye, .fa-times{
    cursor: pointer;
    height: 30px;
    width:30px;
    text-align: center;
}
.dropped-information{
    font-size: 1.3rem;
}
.user-informations{
    display: flex;
    margin-bottom: 1rem;
}
.user-informations p{
    width: 60%;
    margin-bottom: 0px!important;
}
.user-informations span{
    width: 40%;
    font-weight: bold;
}
.test-current{

    border-bottom: 2px solid ;
    border-bottom-color: rgba(220, 220, 220, 0.7);
}
.test-current h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.test-current p{
    margin: 0;
}
.test-status{
    margin:5px 0 15px 0!important;
}
.test-current:nth-last-of-type(1){
    border:none;
}

.test-done{
    color:var(--green);
}
.test-done-date{
    font-size: 1.3rem;
}
.test-ongoing{
    color:var(--orange);
}

.test-to-begin{
    color:var(--gray);
}
.test-btn{
    font-size: 1.4rem;
}
.fa-spinner{
    margin-right: 5px;
}
/* media queries */
@media (min-width: 576px) {
    .dropped-information{
        font-size: 1.4rem;
    }
    .infos-div{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }
    .user-informations{
        width: 50%;
    }
    .user-informations p {
        width: 50%;
    }
    .user-informations span{
        width: 50%;
        padding-left: 1rem;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
