body {
    width: 1920px;
    height: 2541px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}
p, h3, h4, h5, h6{
    color: #7A7A7A;
}
.text-kaki{
    color: var(--kaki);
}
.pdf-container-medium{
    padding: 10px 61px;
    margin: 0 auto;
}
/* line and rounded section */
.pdf-line-container{
    position: relative;
}
.pdf-rounded-section{
    background-color: #7A7A7A;
    border-radius: 30px 30px 0 0;
    width: 454px;
    margin-left: 28px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -70px;
}
.pdf-rounded-section h3{
    color: var(--white);
    margin: 0;
}
.pdf-line-container > hr{
    width: 100%;
    height: 2px;
    background-color: #7A7A7A;
    margin: 0;
}

/* page 1 */
.pdf-logo-container{
    max-width: 40%;
}
.pdf-content-container{
    height: 93vh;
}
.pdf-last-text{
    height: 4vh;
}
.pdf-big-title{
    margin-top: 120px;
    font-size: 60px;
    color: var(--kaki);
}
.pdf-medium-title{
    font-size: 35px;
}
.pdf-title{
    font-size: 30px;
}

/* page 2 */

.pdf-infos{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    padding: 105px 61px;
}

.text-info-grey{
    color: #7A7A7A;
    margin-left: 58px;
}
.text-kaki-info{
    min-width: 40%;
    display: inline-block;
}


/* header */

.irmr3-pdf-header{
    height: 197.5px;
    display: flex;
}
.pdf-irmr3-header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #7A7A7A;
}
.pdf-irmr3-header-img-contain{
    width: 304px;
    display: flex;
    align-items: center;
    margin-left: 61px;
}
.pdf-irmr3-header-img{
    height: 132px;
}
.pdf-irmr3-headername-container{
    display: flex;
    align-items: end;
    justify-content: end;
    width: calc(100% - 304px);
}
.pdf-irmr3-headerName{
    height: 150px;
    width: 673px;
    background-color:var(--kaki);
    border-radius: 2.5rem 2.5rem 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 39px;
}
.pdf-irmr3-headerName p{
    color:white!important;
    margin: 0;
    font-size: 35px;
    display: flex;
    align-items: center;
    height: 43px;
}

/* footer */
.pdf-footer{
    bottom: 0;
    background-color: var(--kaki);
    height: 113px;
    width: 100%;
}
.pdf-footer p{
    color: var(--white);
    margin: 0;
    font-size: 25px;
}