body {
    width: 1920px;
    height: 2541px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
h1, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    color: #7A7A7A;
    font-size: 25px;
}
.segoe-ui-font{
    font-family: "Segoe UI", sans-serif!important;
}
.text-kaki{
    color: var(--kaki);
}
.pdf-container-medium{
    padding: 105px 61px;
    margin: 0 auto;
}
/* line and rounded section */
.pdf-line-container{
    position: relative;
}
.pdf-rounded-section{
    background-color: #7A7A7A;
    border-radius: 30px 30px 0 0;
    margin-left: 28px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -70px;
}
.pdf-interets-generaux .pdf-rounded-section{
    width: 454px;
}
.pdf-interets-pro-specifique .pdf-rounded-section{
    width: 595px;
}
.pdf-rounded-section h3{
    color: var(--white);
    margin: 0;
}
.pdf-line-container > hr{
    width: 100%;
    height: 2px;
    background-color: #7A7A7A;
    margin: 0;
}

/* page 1 */
.pdf-logo-container{
    max-width: 40%;
}
.pdf-content-container{
    height: 93vh;
}
.pdf-last-text{
    height: 4vh;
}
.pdf-big-title{
    margin-top: 120px;
    font-size: 60px;
    color: var(--kaki);
}
.pdf-medium-title{
    font-size: 35px;
}
.pdf-title{
    font-size: 30px;
}

/* page 2 */

.pdf-infos{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}

.text-info-grey{
    color: #7A7A7A;
    margin-left: 58px;
}
.text-kaki-info{
    min-width: 40%;
    display: inline-block;
}
.poles-interets-generaux, .interets-specifiques{
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}
.canvas-container{
    width: 866px;
    height: 551px;
}
.pdf-pro-result-pole{
    display: flex;
    flex-direction: column;
    width: 707px;
}
.pdf-pro-result-pole p{
    color: #414141;
}
.result-poles-line{
    display: flex;
    background-color: white;
    border-radius: 20px;
    height: 53px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    align-items: center;
    margin-bottom: 6px;
}
.pole{
    width: 269px;
    text-align: right;
    background-color: var(--lightkaki);
    border-radius: 20px;
    margin: 0;
    height: 53px;
    padding-right: 34px;
    color: var(--white) !important;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end;
}
.note-brute, .note-etalonnee{
    width: 219px;
    text-align: center;
    margin: 0;
    font-weight: 600;
}
.result-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.result-status{
    display: flex;
}
.result-empty-space{
    width: 269px;
}
.profil-type{
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 14px;
}
/* interets pro specifiques*/
.pdf-interets-pro-specifique p{
    color: #414141;
}
.interets-result-category{
    box-shadow: 0 3px 6px rgba(0,0,0, 0.16);
    border-radius: 20px;
    overflow: hidden;
}

.category-name{
    display: flex;
    align-items: center;
    background-color: var(--lightkaki);
    width: 324px;
    border-radius: 20px;
    height: 53px;
    z-index: 2;
}
.category-name p{
    text-align: left;
    margin: 0;
    padding-left: 34px;
    color: var(--white);
    font-weight: 600;
}
.interets-pro-result-header{
    display: flex;
    justify-content: space-between;
    text-align:center;
}
.interets-pro-result-header p{
    width: 219px;
}
.result-head-1{

}
.result-head-2{
    margin-left: 30px;
}
.result-head-3{

}
.result-head-4{

}
.result-head-5{

}
.result-head-6{

}
.result-head-7{

}
/* custom range input */
.interets-pro-result-input{
    margin-left: -30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    width: 1510px;
}
.result-range-label{
    position: absolute;
    margin: 0 0 0 46px;
    width: 92px;
    text-align: center;
}
.result-range-input{
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: 53px;
}
.result-range-input::-webkit-slider-runnable-track{
    height: 53px;
}
.result-range-input::-moz-range-track{
    height: 53px;
}
.result-range-input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
}
.result-range-input::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
}
.result-range-input::-moz-range-progress{
    background-color: rgba(239, 219, 0, 0.5);
    height: 53px;
}
.result-range-input::-ms-fill-lower{
    background-color: rgba(239, 219, 0, 0.5);
}
    /* header */

.irmr3-pdf-header{
    height: 197.5px;
    display: flex;
}
.pdf-irmr3-header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #7A7A7A;
}
.pdf-irmr3-header-img-contain{
    width: 304px;
    display: flex;
    align-items: center;
    margin-left: 61px;
}
.pdf-irmr3-header-img{
    height: 132px;
}
.pdf-irmr3-headername-container{
    display: flex;
    align-items: end;
    justify-content: end;
    width: calc(100% - 304px);
}
.pdf-irmr3-headerName{
    height: 150px;
    width: 673px;
    background-color:var(--kaki);
    border-radius: 2.5rem 2.5rem 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 39px;
}
.pdf-irmr3-headerName h1{
    color:white!important;
    margin: 0;
    font-size: 35px;
    display: flex;
    align-items: center;
    font-weight: normal;
    height: 43px;
}


/* footer */
.pdf-footer{
    bottom: 0;
    background-color: var(--kaki);
    height: 113px;
    width: 100%;
}
.pdf-footer p{
    color: var(--white);
    margin: 0;
    font-size: 25px;
}