/* variables */
:root {
    --purple: #3F028E;
    --black: #000000ff;
}
/* global */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: var(--black);
    min-height: 100vh;
}

p {
    margin: 0 0 20px 0;
    color: var(--black);
}

a:hover{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
}

h1,
h2 {
    line-height: 1.2;
}

h3,
h4,
h5,
h6 {
    line-height: 1.4;
}

h1 {
    font-size: 3.6rem;
    font-weight: 900;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.6rem;
}
input, select, textarea{
    font-size: 1.4rem !important;
}
/* upper part */
.upper-container{
    box-shadow: 3px 2px 3px lightgrey;
    margin-bottom: 2em;
}
.upper-image-container{
    max-width: 200px;
}
.upper-title{
    max-width: 35%;
    font-size: 1.2rem;
}
.img-text-nav{
    /* padding: 10px 0; */
    align-items:flex-start!important;
}
.img-text-nav h6{
    margin-top: 0!important;
}

.header-contain{

}

